{% extends "base.html" %}

{% block title %}Politique relative aux cookies{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Politique relative aux cookies</h1>
            <p>Notre site utilise des cookies. En continuant à utiliser notre site, vous acceptez notre utilisation des cookies.</p>
            <p>Les cookies sont de petits fichiers texte placés sur votre appareil pour aider le site à fournir une meilleure expérience utilisateur. En général, les cookies sont utilisés pour conserver les préférences de l'utilisateur, stocker des informations pour des choses comme les paniers d'achat et fournir des données de suivi anonymisées à des applications tierces comme Google Analytics. En règle générale, les cookies rendront votre expérience de navigation meilleure. Toutefois, vous pouvez préférer désactiver les cookies sur ce site et sur d'autres. Le moyen le plus efficace de le faire est de désactiver les cookies dans votre navigateur. Nous vous suggérons de consulter la section Aide de votre navigateur ou de consulter le site Web À propos des cookies qui propose des conseils pour tous les navigateurs modernes.</p>
        </div>
    </div>
</div>

{% endblock %}
