{% extends "base.html" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Politique de confidentialité</h1>
            <p>Votre vie privée est importante pour nous. Il est Vide Grenier en ligne politique de respecter votre vie privée concernant toute information que nous pouvons collecter sur notre site Web et les autres sites que nous possédons et exploitons.</p>
            <p>Nous ne demandons des informations personnelles que lorsque nous en avons vraiment besoin pour vous fournir un service. Nous le faisons par des moyens justes et légaux, avec votre connaissance et votre consentement. Nous vous indiquons également pourquoi nous collectons et comment elles seront utilisées.</p>
            <p>Nous ne conservons les informations collectées que le temps nécessaire pour fournir le service demandé. Nous protégeons ces informations contre toute divulgation non autorisée et ne les partageons avec personne d'autre.</p>
            <p>Nous ne collectons aucune information personnelle identifiable publiquement ou auprès de sources tierces, sauf si cela est requis par la loi.</p>
            <p>Notre site Web peut contenir des liens vers des sites externes qui ne sont pas exploités par nous. Veuillez noter que nous n'avons aucun contrôle sur le contenu et les pratiques de ces sites et ne pouvons accepter aucune responsabilité pour leurs politiques de confidentialité.</p>
            <p>Vous êtes libre de refuser notre demande d'informations personnelles, avec la compréhension que nous pourrions ne pas être en mesure de vous fournir certains des services que vous désirez.</p>
            <p>Votre utilisation continue de notre site Web sera considérée comme une acceptation de nos pratiques en matière de confidentialité et d'informations personnelles. Si vous avez des questions sur la façon dont nous traitons les données des utilisateurs et les informations personnelles, n'hésitez pas à nous contacter.</p>
            <p>Cette politique est effective à partir du 1er janvier 2024.</p>
        </div>
    </div>
</div>

{% endblock %}
