{% extends "base.html" %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid add-header">
        <div class="row">
            <h1>
                Que souhaitez-vous donner ?
            </h1>
        </div>
    </div>
    <!-- ///channel -->

    <div class="container mt-30">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="u-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e1">Titre</label>
                                    <input type="text" name="name" class="form-control" id="e1"
                                           placeholder="Jeu de cartes (rare)" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Description</label>
                                    <textarea class="form-control" name="description" id="e2" rows="3" required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Ville</label>
                                    <input class="form-control cityAutoComplete" type="text" autocomplete="off" required/>
                                    <input type="hidden" name="city_id" id="city_id"/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e3">Image</label>
                                    <input type="file" class="form-control" name="picture" id="e3" rows="3" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="u-area mt-small">
                        <button name="submit" class="btn btn-primary u-btn">Valider</button>
                    </div>
                    <div class="u-terms">
                        <p>En soumettant votre article vous acceptez les <a href="#">conditions générales</a> de Vide Grenier en
                            ligne.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">
    var citySelected = false;

    $(function() {
        $(".cityAutoComplete").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '/api/cities',
                    data: {
                        query: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(value, key) {
                            return {
                                label: value,
                                value: key
                            };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function(event, ui) {
                $(".cityAutoComplete").val(ui.item.label);
                $("#city_id").val(ui.item.value);
                citySelected = true;
                return false;
            }
        });
    });

    $('form').on('submit', function(e) {
        if (!citySelected) {
            e.preventDefault();
            alert('Veuillez sélectionner une ville à partir de la liste déroulante.');
        }
    });
</script>
{% endblock %}
